.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
    button {
        width: 150px;
    }
  }
  
  .label {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 16px;
  }